/* Categories styles */
.categories {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: rotateCategories 20s linear infinite;
}

@keyframes rotateCategories {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
